@inherits BindableComponentBase<IndexPageViewModel>
@if (DataContext is var d && d?.IsInitialized == true && d.Mode == IndexPageMode.Default)
{
            <div style="overflow-y:auto;width:100%;height:100%;">
    <div class="container">
        <ListScope T="CoordinationViewModel" Source="d.Filtered">
            @if (d.Filtered.Count > 0)
            {
                foreach (var ch in d.Filtered.GroupBy(e => e.ChapterId))
                {
                    <h2>@ch.First().ChapterDisplayName</h2>

                    <Virtualize Items="ch.OrderBy(e => e.DirectoryNumber).ToList()"
                    Context="c">
                        <div class="row">
                            <h3 class="col-12">
                                @if (c.IsHidden)
                                {
                        @("????")
                                }
                                else
                                {
                                    if (c.Rarity != null)
                                    {
                            <img class="img-fluid"
                         loading="lazy"
                         src="@c.Rarity?.ImageUrl"
                         alt="@c.Rarity?.Value" />
                                    }
                                    if (c.Brand != null)
                                    {
                            <img class="img-fluid"
                         loading="lazy"
                         src="@c.Brand?.ImageUrl"
                         alt="@c.Brand?.Value" />
                                    }
                        @c.Name
                                }

                </h3>
                @foreach (var e in c.Items)
                            {
                    <DataContextScope @key="e.GetHashCode()"
                                  DataContext="e">
                        <div class="col-3">
                            <img class="img-fluid" loading="lazy" src="@e.ImageUrl" style="@(e.IsVisible ? null : "filter:grayscale(1);opacity::0.65;")" />
                            <h4>
                                @if (c.IsHidden)
                                            {
                                    @("????")
                                            }
                                            else
                                            {
                                                if (c.Rarity == null)
                                                {
                                        <img class="img-fluid"
                                 loading="lazy"
                                 src="@e.Rarity?.ImageUrl"
                                 alt="@e.Rarity?.Value" />
                                                }
                                                if (c.Brand == null)
                                                {
                                        <img class="img-fluid"
                                 loading="lazy"
                                 src="@e.Brand?.ImageUrl"
                                 alt="@e.Brand?.Value" />
                                                }
                                    @e.CategoryName
                                                if (e.GenreColor != null)
                                                {
                                        <img class="img-fluid"
                                 loading="lazy"
                                 src="@e.GenreColor?.ImageUrl" />
                                                }
                                                else
                                                {
                                        @e.Color?.Value
                                        @(" - ")
                                        @e.Genre?.Value
                                                }
                                    <img class="img-fluid"
                                 loading="lazy"
                                 src="@e.SubCategory?.ImageUrl"
                                 alt="@e.SubCategory?.Value" />
                                            }
                            </h4>
                        </div>
                    </DataContextScope>
                            }
            </div>

        </Virtualize>
                }
            }
        </ListScope>
    </div>
    </div>
}