@inherits BindableComponentBase<IndexPageViewModel>
@if (DataContext is var d && d?.IsInitialized == true)
{
    <button type="button" class="btn btn-primary"
        @onclick="@d.ToggleIsCollapsed">
        検索条件
    </button>
    <div class="@(d.IsCollapsed switch { true => "collapse show", false => "collapse", _ => "collapsing" })">
        <div class="card card-body">
            <div class="row">
                <input class="form-control"
                   placeholder="コーデ名またはID"
                   @bind="d.Query" />
            </div>
            <ListScope T="ChapterViewModel" Source="d.Chapters">
                @if (d.Chapters.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllChaptersSelected">
                            章
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Chapters)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="BrandViewModel" Source="d.Brands">
                @if (d.Brands.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllBrandsSelected">
                            ブランド
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Brands)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="RarityViewModel" Source="d.Rarities">
                @if (d.Rarities.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllRaritiesSelected">
                            レアリティ
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Rarities)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="CategoryViewModel" Source="d.Categories">
                @if (d.Categories.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllCategoriesSelected">
                            カテゴリー
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Categories)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="ColorViewModel" Source="d.Colors">
                @if (d.Colors.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllColorsSelected">
                            いろ
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Colors)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="GenreViewModel" Source="d.Genres">
                @if (d.Genres.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllGenresSelected">
                            スタイル
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.Genres)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>
            <ListScope T="SubCategoryViewModel" Source="d.SubCategories">
                @if (d.SubCategories.Count > 0)
                {
                    <div class="row">
                        <Checkbox @bind-NullableIsChecked="d.AllSubCategoriesSelected">
                            テイスト
                        </Checkbox>
                    </div>
                    <div class="row">
                        <div class="form-inline">
                            @foreach (var e in d.SubCategories)
                            {
                                <DataContextScope @key="e.Key" DataContext="e">
                                    <Checkbox @bind-IsChecked="@e.IsSelected">
                                        @e.Value
                                    </Checkbox>
                                </DataContextScope>
                            }
                        </div>
                    </div>
                }
            </ListScope>

            <div class="row">
                <Checkbox @bind-IsChecked="d.IsOwned">
                    所持
                </Checkbox>
                <Checkbox @bind-IsChecked="d.IsDesired">
                    希望
                </Checkbox>
                <Checkbox @bind-IsChecked="d.IsListed">
                    提供
                </Checkbox>
                <Checkbox @bind-IsChecked="d.IsNotListed">
                    その他
                </Checkbox>
            </div>

        </div>
    </div>

}